body {
  font-family: 'Inter', sans-serif;;
  margin: 20px;
  background-color: rgb(255, 243, 223);
  line-height: 170%;
}

.titulo {
  text-align: center;
  margin: 70px;
  font-size: 50px;
  font-family: 'Playfair Display, semibold, italic';
  color: #244952;
  font-style:italic;
  font-variant:inherit
}

.link {
  text-align: justify;
  font-family: 'Inter', sans-serif;
  
}

.paragrafo {
  text-align: justify;
  font-family: 'Inter', sans-serif;
}

.imagem-arredondada {
  border-radius: 10px;
  border: 5px solid black;
  width: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
  border-radius: 10px;
}

.botao {
  padding: 15px 20px;
  display: block;
  font-size: 20px;
  font-family: 'Playfair Display, semibold, italic';
  color: #244952;
  background-color: #fdf4e6;
  border: 1px solid #000000;
  border-radius: 6px;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

caption {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

